In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
apple_data = pd.read_csv('apple.csv')
google_data = pd.read_csv('google.csv')
ibm_data = pd.read_csv('ibm.csv')
microsoft_data = pd.read_csv('microsoft.csv')

In [18]:
apple_data.head()

         Date    Open    High     Low   Close    Volume
0  2016-09-01  106.14  106.80  105.62  106.73  26701523
1  2016-09-02  107.70  108.00  106.82  107.73  26334858
2  2016-09-06  107.90  108.30  107.51  107.70  26880391
3  2016-09-07  107.83  108.76  107.07  108.36  42364328
4  2016-09-08  107.25  107.27  105.24  105.52  53002026

### checking shape for each data

In [19]:
print('apple_data shape::',apple_data.shape)
print('google_data shape::',google_data.shape)
print('ibm_data ::',ibm_data.shape)
print('microsoft_data ::',microsoft_data.shape)
# print(appl_data.isna().any())

apple_data shape:: (187, 6)
google_data shape:: (187, 6)
ibm_data :: (187, 6)
microsoft_data :: (187, 6)

#### means all data are having same number of records Rows/columns

### checking if there is any null data

In [23]:
print('apple_data null columns ::',apple_data.columns[apple_data.isna().any()])
print('google_data null columns ::',google_data.columns[google_data.isna().any()])
print('ibm_data null columns ::',ibm_data.columns[ibm_data.isna().any()])
print('microsoft_data null columns ::',microsoft_data.columns[microsoft_data.isna().any()])

apple_data null columns :: Index([], dtype='object')
google_data null columns :: Index([], dtype='object')
ibm_data null columns :: Index([], dtype='object')
microsoft_data null columns :: Index([], dtype='object')

#### no data has NaN values in any columns